[submodule "src/8.others/nowcoder/Template"]
	path = src/8.others/nowcoder/Template
	url = git@github.com:cjj490168650/Template.git
[submodule "src/8.others/TPL"]
	path = src/8.others/TPL
	url = git@github.com:AINgray/TPL.git
